.container {
  max-width: 1450px;
  margin: 0 auto;
}

.row {
  display: flex;
}

.column-full {
  width: 100%;
}

.column-half {
  width: 50%;
}

.column-third {
  width: calc(100% / 3);
}

.grey {
  background: #525351;
}

.white-logo {
  width: 45%;
  padding: 20% 8.5% 2%;
}

.middle-padding {
  padding-left: 20%;
  padding-top: 5%;
}

.padding {
  padding-left: 10%;
  padding-right: 5%;
  padding-top: 5%;
}

.about-company,
.products {
  color: white;
}

.uppercase {
  text-transform: uppercase;
}

.white-text {
  color: white;
  padding-top: 2%;
}

.submit {
  padding: 15px 20px;
  background: #294464;
  color: white;
  border: none;
  font-family: Avenir, sans-serif;
}

address {
  color: white;
  font-style: normal;
  font-size: 8px;
  padding: 10% 8.5% 25%;
}

body {
  font-family: Avenir, sans-serif;
  color: #6e6e6e;
  margin: 0;
}

footer {
  width: 15%;
}

ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

li {
  font-size: 12px;
  font-weight: bold;
}
